<mat-toolbar style="background-color: white;">
    <span>Edit Board</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="warn" (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form class="normal-form" [formGroup]="boardsService.myForm" novalidate>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <div class="controlles-container">
                
                <mat-form-field>
                    <input matInput name="name" #boardName pattern="^[A-ZА-ЯЁ]{1}[a-zа-яё\s]+$"
                    placeholder="Name" formControlName="name" required>
                    <mat-error>Required field. Ex. My board</mat-error>

                    <!-- <input matInput name="name" #boardName pattern="^[A-ZА-ЯЁ]{1}[a-zа-яё\s]+$"
                    placeholder="Name" required>{{board.name}}
                    <mat-error>Required field.</mat-error> -->
                    
                </mat-form-field><br>

                <div class="button-row">
                    <button mat-flat-button color="primary" type="submit" [disabled]="boardsService.myForm.invalid"
                        (click)="updateBoard(boardName.value)">
                        Submit
                    </button>

                    <!-- <button mat-raised-button color="primary" type="submit" 
                        [disabled]="name.invalid || username.invalid || email.invalid || location.invalid 
                        || hireDate.invalid || severity.invalid || status.invalid || description.invalid" 
                        (click)="addPearson(pearsonName.value, pearsonUsername.value, pearsonEmail.value, pearsonLocation.value, pearsonHireDate.value, pearsonSeverity.value, pearsonStatus.value, pearsonDescription.value, pearsonComment.value)">
                        Submit 
                    </button> -->
                    <!-- <button mat-raised-button color="primary" type="submit" 
                    (click)="addPearson(pearsonName.value, pearsonUsername.value, pearsonEmail.value, pearsonLocation.value, pearsonHireDate.value, pearsonSeverity.value, pearsonStatus.value, pearsonDescription.value, pearsonComment.value)">
                    Submit 
                </button> -->
                    <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

