<div class="container" style="width: 65%">
    <h3 style="text-align: center;">
        <font color="#4C283D" face="bookman old style">

            Trello helps you reach all your projects at work and at home.

            Whether you're managing a team, writing an epic script, or just making a shopping list, Trello is your go-to
            guide for getting organized and meeting goals.
        </font>

    </h3>
    <ul class="mt-4">
        <h3>
            <font color="#4C283D" face="bookman old style">
                To view boards click on Boards Button.
            </font>
        </h3>
    </ul>
</div>
