<mat-toolbar style="background-color: white;">
    <span>Add Card</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="warn" (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controll    es-container">
                <mat-form-field>
                    <input matInput name="name" pattern="^[A-ZА-ЯЁ]{1}[a-zа-яё\s]+$"
                    [(ngModel)]="searchName" #cardName placeholder="Name" required>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="description" [(ngModel)]="searchDescription" #cardDescription
                        placeholder="Description" required>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput name="date" [min]="minDate" [matDatepicker]="picker" placeholder="Date"
                    #cardDate [(ngModel)]="searchDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br><br>
                <!-- <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" name="date" #cardDate formControlName="date" required>
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br><br> -->
                <button mat-flat-button color="primary" type="submit"
                    (click)="addCard(cardName.value, cardDescription.value, cardDate.value, cardComment.value)"
                    [disabled]="!searchName || !searchDescription || !searchDate">
                    Submit
                </button>
            </div>
            <div class="button-row">
                <!-- <button mat-raised-button color="primary" type="submit" 
                    [disabled]="name.invalid || username.invalid || email.invalid || location.invalid 
                    || hireDate.invalid || severity.invalid || status.invalid || description.invalid" 
                    (click)="updatePearson()">
                    Submit 
                </button> -->
                <!-- <button mat-raised-button color="primary" type="submit">
                Submit 
            </button> -->
                <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controlles-container">

                <mat-form-field>
                    <input matInput name="comment" [(ngModel)]="searchComment" #cardComment placeholder="Comment">
                    <mat-error>Required field.</mat-error>
                </mat-form-field><br>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>