<!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-spinner mode="indeterminate" style="top: 50%; left: 50%;"></mat-progress-spinner>
</div> -->

<div class="root">
    <!-- <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text" style="color: #DADADA;">Trello</h1>
            </div>
        </div>
    </div> -->

    <div class="board">

        <div class="board-bar">
            <p class="board-name" *ngIf="board">{{ board.name }}</p>
        </div>

        <button mat-button color="primary" routerLink="/allboards" style="margin-top: 10px;">
            Back to Boards List
        </button>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>

                <div class="board-column" *ngFor="let column of columns">
                    <div class="column-title">
                        {{column.name}}
                        <div class="icon-buttons">
                            <button mat-button color="primary" (click)="onEditColumn(column)">
                                <!-- <mat-icon>edit</mat-icon> -->
                                Edit column
                            </button>
                            <button mat-icon-button (click)="deleteColumn(column)">
                                <mat-icon>delete</mat-icon>
                            </button> 
                        </div>
                        
                    </div>
                    <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event, column)" >
                        <div class="task" cdkDrag *ngFor="let task of column.tasks">
                            {{task.name}}

                            <div class="icon-buttons">
                                <button mat-icon-button (click)="onEditCard(column, task)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteCard(column, task)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>

                        <button mat-button color="primary" (click)="onCreateCard(column)">Add a new card</button>

                    </div>
                </div>


                <!-- <div class="board-column">
                    <label>New Column
                      <input matInput #columnName />
                    </label>
                    <button mat-button (click)="CreateColumn(columnName.value); columnName.value=''">
                      add
                    </button>
                </div> -->
                <div class="board-column">
                    <button mat-button color="primary" (click)="onCreateColumn()">Add a new column</button>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- <app-stat></app-stat> -->

<!-- <div>
    <p align="center" style="margin-top: 60px;">
        <font size="50" color="#4C283D" face="bookman old style">Statistics</font>
    </p>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <div [chart]="chart" style="margin-top: 40px;"></div> -->
    <!-- <div [chart]="chart1" style="margin-top: 40px;"></div>
   
</div> -->